/* *@media (max-width: 1200px) */

@media all and (max-width: 1200px) {
  body header {
    background-image: none;
    text-align: center;
  }

  body header div {
    margin: 0;
    margin-top: 20px;
  }
}

/* *@media (max-width: 992px)*/

@media all and (max-width: 992px) {
  body {
    width: 100%;
}

  body header div {
    margin: 0;
    padding: 20px 0;  
    width: 100%;
    border: none;
    border-bottom: 1px solid #0B5345;
    text-align: center;
}

  body header p {
    padding: 10px 0;
}

  header div:not(:last-of-type) {
    margin: 0; 
}

  article .description{
    margin: 0;
    padding: 20px 0 20px 50px;
    width: 100%;
}

article .time, article .price:not(:last-child){
  margin-left: 70px;
}

  article .time, article .price {
    width: 40%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
    background-color: #81aea52b;
}

  article{
    width: 100%;
    max-width: 100%;
    align-items: center;
  } 
}

  /* *@media (max-width: 780px)*/

@media all and (max-width: 780px){
  article .time, article .price {
    width: 80%;
    margin-left: 30px;
  }

  article .description{
    padding-left: 10px;
  }
}