
@media (max-width: 520px) {
body{
  overflow-x: hidden;
}
.hero__img {
  height: 300px;
  min-height: 200px;
}

.bg-img {
  width: 150px;
  height: 150px;
}

.bg-1 {
  top: 0;
  left: 30px;
}

.bg-2 {
  top: 140px;
  right: 240px;
}

.bg-3 {
  top: 0;
  right: 170px;
  
}

.fg-img {
  left: 110px;
  top: 80px;
}
}

